<section class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
     <h2 class="section-header">Torso</h2>
      <p>
        Torso adds a lot to Backbone. Here are a few of the modules that are added to the Backbone library.
      </p>
      <ul>
        <li>View Lifecycles</li>
        <li>Child View Management</li>
        <li>View Transitions</li>
        <li>List Views</li>
        <li>Forms</li>
        <li>Feedback</li>
        <li>Caches</li>
        <li>Cells</li>
        <li>TemplateRender - DOM Hotswapping</li>
        <li>General guidelines</li>
        <li>And more</li>
      </ul>
    </div>
  </div>
</section>
