<section class="container-fluid content">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h2 class="section-header">Couple Your Views to a Collection of Models</h2>
      <div inject="item-views"></div>
    </div>
  </div>
</section>

