<header class="swiper-container">
  <div class="swiper-wrapper">
    <div class="slide-text">
      <h1 class="banner-header">Backbone Torso</h1>
    </div>
  </div>
</header>

<div inject="nav-view"></div>
<div inject="current-main-view"></div>

<footer>
  <div class="container">
    <ul>
      <li>
        <a href="http://www.mostlyepic.com" title="Learn more about Mostly Epic at their website">Powered by Mostly Epic LLC. a Gainesville software company</a>
      </li>
    </ul>
  </div>
</footer>