<section class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-md-6 col-md-offset-3 col-xs-offset-1">
      <h2 class="section-header">Perform validation</h2>
      <input type="text" data-model="name">
      <span class="error" data-feedback="name"></span>

      <button id="save">Save</button>

      <p id="current-name">Current Name: {{view.name}}</p>
    </div>
  </div>
</section>
